XMLTaskO9V4M0/XMLSchemaO9V4M0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="egeszsegugy">
    <xs:complexType>
      <xs:sequence>
        
        <xs:element name="bevetel" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="megnevezes"/>
              <xs:element type="xs:short" name="osszeg"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="BID" use="optional"/>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="hatarido_naplo" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="bevetel"/>
              <xs:element name="paciens">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="nev"/>
                    <xs:element type="xs:long" name="TAJszam"/>
                    <xs:element type="xs:string" name="Szul_ido"/>
                    <xs:element type="xs:long" name="telefonszam"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="idopont"/>
              <xs:element type="xs:byte" name="szakorv"/>
              <xs:element type="xs:byte" name="szakrend"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="HID" use="optional"/>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="rendeles" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="idopont"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="RID" use="optional"/>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="szakrendeles" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Sznev"/>
              <xs:element type="xs:byte" name="Szter"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="SZID" use="optional"/>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="orvosok" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="orvos">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="nev"/>
                    <xs:element type="xs:string" name="Szul_ido"/>
                    <xs:element type="xs:int" name="TAJszam"/>
                    <xs:element type="xs:long" name="Telefonszam"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:byte" name="szakter"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="OrvID" use="optional"/>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="dolgozik" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="munkaido"/>
              <xs:element type="xs:int" name="fizetes"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="DID" use="optional"/>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="teljesitmeny_igazolas" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="datum"/>
              <xs:element type="xs:int" name="fizetes"/>
              <xs:element type="xs:byte" name="orvos"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="TID" use="optional"/>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="kiadas" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="megnevezes"/>
              <xs:element type="xs:int" name="osszeg"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="KID" use="optional"/>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="megrendelesek" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="datum"/>
              <xs:element type="xs:byte" name="darab"/>
              <xs:element type="xs:string" name="megnevezes"/>
              <xs:element type="xs:int" name="penzkiadas"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="RID" use="optional"/>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="penzugy" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="megnevezes"/>
              <xs:element type="xs:int" name="osszeg"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="PID" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
